body {
    background-color: lightblue;
    color: MediumVioletRed;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: black;
    color: green;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightblue;
    color: MediumVioletRed;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: black;
    color: green;
    font-family: Arial;
    margin: 0px;
}